<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Studioraz_Faq>
			<active>true</active>
			<codePool>local</codePool>
			<version>1.1.2</version>
		</Studioraz_Faq>
	</modules>
	
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Studioraz_Faq before="Mage_Adminhtml">Studioraz_Faq_Adminhtml</Studioraz_Faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>

	<frontend>
		<routers>
			<faq>
				<use>standard</use>
				<args>
					<module>Studioraz_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
		</routers>
		<translate>
			<modules>
				<Studioraz_Faq>
					<files>
						<default>Studioraz_Faq.csv</default>
					</files>
				</Studioraz_Faq>
			</modules>
		</translate>
		<layout>
			<updates>
				<faq>
					<file>studioraz/faq.xml</file>
				</faq>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<studioraz_faq>
				<class>Studioraz_Faq_Helper</class>
			</studioraz_faq>
		</helpers>
		
		<blocks>
			<studioraz_faq>
				<class>Studioraz_Faq_Block</class>
			</studioraz_faq>
		</blocks>
		
		<models>
			<studioraz_faq>
				<class>Studioraz_Faq_Model</class>
				<resourceModel>studioraz_faq_mysql4</resourceModel>
			</studioraz_faq>
			<studioraz_faq_mysql4>
				<class>Studioraz_Faq_Model_Mysql4</class>
				<entities>
					<category>
						<table>faq_category</table>
					</category>
					<category_item>
						<table>faq_category_item</table>
					</category_item>
                    <category_store>
                        <table>faq_category_store</table>
                    </category_store>
					<faq>
						<table>faq</table>
					</faq>
					<faq_store>
						<table>faq_store</table>
					</faq_store>
				</entities>
			</studioraz_faq_mysql4>
		</models>
		
		<resources>
			<faq_setup>
				<setup>
					<module>Studioraz_Faq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</faq_setup>
			<faq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</faq_write>
			<faq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</faq_read>
		</resources>
	</global>

	<adminhtml>
		<translate>
			<modules>
				<Studioraz_Faq>
					<files>
						<default>Studioraz_Faq.csv</default>
					</files>
				</Studioraz_Faq>
			</modules>
		</translate>
	</adminhtml>
	<install>
		<translate>
			<modules>
				<Studioraz_Faq>
					<files>
						<default>Studioraz_Faq.csv</default>
					</files>
				</Studioraz_Faq>
			</modules>
		</translate>
	</install>
</config>
